@import "tailwindcss";

@layer base {
  body {
    background-color: #08090C;
    color: #E0E6ED;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    overflow-x: hidden;
    user-select: none;
    -webkit-user-select: none;
  }
}
